<?xml version="1.0" ?>
<sdf version="1.6">
  <model name="iris_depth_camera">

    {% include 'models/iris_depth_camera/iris.sdf.jinja' %}

    {% include 'models/iris_depth_camera/depth_camera.sdf.jinja' %}

  </model>
</sdf>